<section class="header">
    <div class="logoCnt">
        <h1 class="lbilogo"><a href="index.html"><img src="assets/img/lbi-logo.jpg" alt="lbi logo"/></a></h1>
        <div class="flickrlogo"><img src="assets/img/flickr-logo.jpg" alt="flickr logo"/></div>
    </div>
</section>