<!doctype html>
<html lang="en"> 
  <head>
    {{> styles}}

  </head>
  <body>
 
    <div class="wrapper"> 
      {{> header }}
      {{> photogallery }}
    </div>
      
    {{> scripts }} 

  </body>
</html>
